################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Geeks4GeeksPractice/v16/Browse.VC.opendb
